.Proyectos {
    padding-block: 4rem;
}

.Proyectos-container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;

    justify-content: space-between;
}

.Proyectos-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-block: 3rem;
}

.Proyectos-item-img {
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Proyectos-item img {
  max-width: 100%;
  max-height: 100%;
}

.Proyectos-description {
    color: var(--color-text);
    font-family: var(--font-body);

    text-align: justify;
}

@media (max-width: 768px) {
    .Proyectos-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
  .Proyectos-container {
      display: flex;
      flex-direction: column;
  }

  .Proyectos-item-img {
    height: 100%;
  }
}