.Redes {
    padding-block: 4rem;
    margin-block: 2rem;
}

.Redes .Title {
    margin-bottom: 3rem;
}

.Redes_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    color: var(--color-text);
    font-family: var(--font-body);

    border: 2px solid var(--color-decoration);
    border-radius: 2rem;
    padding: 2rem;
    background-color: rgb(49, 49, 49);
}

.Redes_container_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.Redes_name {
  font-size: 3rem;
  font-weight: bold;
}

.Redes_mail {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Redes_location {
  font-size: 1.4rem;
}

.Redes_mail-icon {
  width: 2rem;
  height: 2rem;
}

.Redes_container_right {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;

  justify-content: space-between;
}

.Redes_icon {
    width: 5rem;
    height: 5rem;
    margin: 2rem;
    /* color: var(--color-decoration); */
}

@media (max-width: 768px) {

  .Redes_container {
    flex-direction: column;
  }

  .Redes_container_left {
    align-items: center;
  }

  .Redes_icon {
      width: 6rem;
      height: 6rem;
  }
}

@media (max-width: 475px) {
  .Redes_container {
    border: none;
    background-color: rgba(0, 0, 0, 0);
  } 

  .Redes .Title {
    margin-bottom: 1rem;
  }

  .Redes_name {
    display: none;
  }
}