.Home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10%;

    padding-block: 4rem;
    margin-block: 2rem;
}

.home_text-section {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;

    gap: 0.4rem;
}

.home_img-section {
    width: 30%;
}

.home_title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-text);

    font-family: var(--font-title);
}

.home_subtitle {
    font-size: 1.5rem;
    color: var(--color-decoration);

    font-family: var(--font-title);
}

.home_description {
    font-size: 1.2rem;
    color: var(--color-text);

    font-family: var(--font-body);
}

.home_img-section img {
    width: 100%;
    border-radius: 0.4rem;
}

@media (max-width: 768px) {
    .Home {
        flex-direction: column-reverse;
        gap: 2rem;
        padding-block: 2rem;
    }

    .home_img-section {
        width: 55%;
    }

    .home_text-section {
        width: 100%;
        align-items: center;
    }

    .home_description {
        text-align: center;
    }
}