.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 2rem;

    padding: 2rem 6rem;
}

.navbar a {
    font-family: var(--font-body);
    color: var(--color-decoration);
    font-size: 1.2rem;
    font-weight: bold;

    transition: transform 0.2s linear;
}

.navbar a:hover {
    transform: scale(1.05);
}