* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  max-width: 1000px;
  margin: auto;

  /* BORRAR ESTO */
  color: rgb(63, 144, 63);
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 4rem;
}

.section__margin {
  margin: 4rem;
}